
.center{
    margin-right: 50%;
    margin-left: 50% ;
}

#centered-text{
    text-align: center;
    }

/**.flex-row{
    display:flex;
    justify-content: space-between;
    width: 300px;
    border: 1px solid gray;

}

.user-display{
    display: flex;
}
*/