
.center{
    display:flex;
    justify-content:center;
}

#centered-text{
    text-align: center;
    }

.flex-row{
    display:flex;
    justify-content: space-between;
    width: 400px;
    margin-left:auto;
    margin-right:auto;
}

.stats-row .data-value{
  text-align: right;
}

#center-block{
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

.stats-row{
  display:flex;
  justify-content: space-between;
}

.stats-row .county-name{
  text-align: left;
}

.stats-row p{
  width:100px;
}

.user-display{
    display: flex;
    align-self: baseline;
    justify-content: space-between;
}

.align-link{
    display:flex;
    justify-content: space-between;
    width: 400px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 5%;
    left: 0px;
    right: 0px;
}
