
.center{
    display:flex;
    justify-content:center;
}

#centered-text{
    text-align: center;
    }

.flex-row{
    display:flex;
    justify-content: space-between;
    width: 400px;
    margin-left:auto;    
    margin-right:auto;


}

.user-display{
    display: flex;
    align-self: baseline;
    justify-content: space-between;
}

.align-link{
    display:flex;
    justify-content: space-between;
    width: 400px;
    margin-left:auto;    
    margin-right:auto;
    position: absolute;
    bottom: 75px;
    left: 0px;
    right: 0px;
}
